.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #fff; */
  height: calc(6rem - 20px);
  padding: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header__fabric {
  width: 9.5rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
