.home__container {
    max-width: 705px;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
}

.voting__input {
    width: calc(100% - 2rem);
    background-color: #343C41;
    border: 0;
    padding: 1rem;
    border-bottom: 2px solid #23292E;
    color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

.form__container {
    position: relative;
}

.login__btn {
    position: absolute;
    right: 0;
    top: calc(64px + 2.625rem + 2px);
}